body {
  font-family: Microsoft YaHei;
}

.header {
  margin: 0px 100px 0px 100px;
}

.HeadBg {
  background: #23262E;
}

.main {
  overflow-y: scroll;
  height: calc(100vh - 104px);
  position: relative;
}

.side {
  margin: 0px 0px 0px 150px;
  width: 200px;
  position: relative;
  float: left;
  padding-top: 30px;
  text-align: center;
}

.side div {
  font-size: 20px;
}

.personal {
  height: 120px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: Center;
}

.imgWrap {
  padding: 6px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.16);
}

.menuOpt {
  height: 60px;
  background: #FFFFFF;
  position: relative;
  color: #000000;
  transition: .2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: Center;
  padding: 6px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.16);
}

.menuOpt:hover {
  color: #009688;
}

.menuOpt i {
  font-size: 24px;
  margin-right: 20px;
}

.body {
  margin: 0px 0px 0px 60px;
  width: calc(100vw - 560px);
  position: relative;
  float: left;
}

.courseCardCon {
  display: flex;
  padding: 6px;
  margin-bottom: 10px;
  transition: .2s;
  cursor: pointer;

  position: relative;
}
.courseCardCon:hover {
  animation:mymove 0.5s;
}
@keyframes mymove {
    0%   {left:0px;}
    50%  {left:20px;}
    100% {left:0px;}
}

.courseCardCon .imgWrap {
  flex: none;
}
.courseCard {
  flex:1;
  padding-left: 20px;
}
.courseCard .btn{
  float:right;
  font-size: 14px;
}
.courseCard p{
  margin: 5px;
}
.courseCard .title {
  font-size: 24px;
  color: black;
}
.courseCard .teacher {
  font-size: 12px;
  font-weight: 100;
  color: black;
}
.courseCard .state {
  font-size: 16px;
  color: black;
}
.courseCard .courseLine {
  height: 20px;
  border-radius: 3px;

  margin: 8px 0px 8px 3px;
  padding: 3px 0px 3px 10px;

  font-size: 14px;
  color: white;

  background: -webkit-linear-gradient(left, rgba(135,224,255,1), rgba(29,151,193,1));
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(135,224,255,1), rgba(29,151,193,1));
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, rgba(135,224,255,1), rgba(29,151,193,1));
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, rgba(135,224,255,1), rgba(29,151,193,1));
  /* 标准的语法（必须放在最后） */
}























  {}
