.mainContainer {
  width: 910px;
  position: relative;
  margin-left: 60px;
}

.listContext {
  font-size: 20px;
  line-height: 1.5em
}

.popWindowContainer{
  width: 550px;
  position: relative;
  margin: 0px 40px 0px 40px;
}

.popWindowTitle{

  margin-top: 30px;
}


body {
  font-family: Microsoft YaHei;
}

.title {
  font-size: 30px;
  margin-top: 40px;
}

.context {
  font-size: 20px;
}

.mousePointWave {
  color: #87CEEB;
  transition: .2s;
  cursor: pointer;
  text-decoration: none;
}

.mousePointWave:hover {
  color: #5585b5;
  background: #CFF;
  text-decoration: underline;
}

.mousePointWave:active {
  color: red;
  text-decoration: underline;
}




.rightButton{
  float: right;
}

.forum{
  background: #d1e9d2;
}
