.mainContainer {
    width: 600px;
    position: relative;
    margin-left: 60px;
}

.mainContainer .title{
    font-size: 30px;
    margin-top: 40px;
}

.mainContainer .context{
    font-size: 20px;
}

body{
    font-family: Microsoft YaHei;
}


 .mousePointWave {

  font: 20px/1.5 arial, helvetica, sans-serif;
  color: black;
  transition: .2s;
  cursor: pointer;
  text-decoration: none;
}
 .mousePointWave:hover {
  color: #5585b5;
  background: #CFF;
  text-decoration: underline;
}

 .mousePointWave:active {
  color: red;
  text-decoration: underline;
}
